{% extends "conteneur.html" %}

{% block titre %}
   | Index des institutions théâtrales
{% endblock %}

{% block corps %}
    {% if theatres %}
    <h1> Index des institutions théâtrales</h1>
    <p>Il y a {{theatres|length}} institutions enregistrées :</p>
        <ul>
            {% for theatre in theatres %}
                <li><a href="{{url_for('theatre', id=theatre.id)}}">{{theatre.institution}}</a></li>
            {% endfor %}
        </ul>
    <p><a href="{{url_for('accueil')}}">Retour à l'accueil</a></p>
    {% else %}
        <p>La base de données est en cours de constitution</p>
    {% endif %}
{% endblock %}