{% extends "conteneur.html" %}

{% block titre %}
    {%if adresse %}| Adresse : {{adresse.rue}} {% endif %}
{% endblock %}

{% block corps %}

<div>
        <h1>Suppression de l'adresse : {{adresse.rue}}</h1>
</div>
<form class="form" style="margin-bottom:20px" method="POST" action="{{url_for('suppression_adresse', id=adresse.id)}}">
 <div class="text-center" style="place-content:center">
      <div>
          <p value="{{adresse.id}}">Êtes-vous sûr de vouloir supprimer cette adresse ?</p>
      </div>
      <div>
           <button type="submit" class="btn btn-info text-center">Confirmer</button>
      </div>
      </div>
</form>

<p><a href="{{url_for('accueil')}}">Retour à l'accueil</a></p>

{% endblock %}